.pcHeader
  .container
    .pcHeader_contents
      .pcHeader_contents_logo
        = link_to image_tag('/Binder-logo-white.png', {:class=>'logo'}), users_pc_root_path
      .pcHeader_contents_devise
        - unless @current_user
          = link_to new_user_session_path do
            %i.fas.fa-sign-in-alt.icon<>
              Log in
          = link_to new_user_registration_path do
            %i.fas.fa-user-plus.icon<>
              Sign up
        - else
          = link_to destroy_user_session_path, method: :delete do
            %i.fas.fa-sign-out-alt.icon<>
              Log out
