.loginPage
  .container
    .loginPage_contents
      %h1.h4.loginPage_contents_title
        あいまに営業リストを
        %br 精査しよう
      = link_to "メールアドレスでログインする", new_user_session_path, class: "btn loginPage_contents_btn"
