$main_color: #0E1A2E;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.icon::before {
  padding-right: 10px;
}

.heading {
  padding-top: 90px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;

  &:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0;
    background-color: $main_color;
  }

  &_text {
    padding-top: 30px;
    text-align: center;
    font-size: 16px;
  }
}
